<div id="form_flex">
    <h1>Evenfall</h1>
    <p>Chat with cool people.</p>
    <div class="form_center">
        <%= form_with model: @user, class: "simple_form" do |form| %>
            <h2 style="margin: 0 auto">Register</h2>
                <%= tag.div(flash[:alert], style: "color:var(--alert)") if flash[:alert] %>
                <%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %>
            <div>
                <%= form.email_field :email_address, placeholder: "Enter your email address" %>
            </div>
            <div>
                <%= form.text_field :username, placeholder: "Enter your username" %>
            </div>
            <div>
                <%= form.password_field :password, placeholder: "Enter your password" %>
            </div>
            <div>
                <%= form.password_field :password_confirmation, placeholder: "Confirm your password" %>
            </div>
            <div>
                <%= form.submit %>
            </div>
        <% end %>
    </div>
</div>

