<div id="form_flex">
    <h1>Evenfall</h1>
    <p>Chat with cool people.</p>
    <div class="form_center">
        <%= form_with model: @user, class: "simple_form" do |form| %>
            <h2 style="margin: 0 auto">Register</h2>
                <%= render "layouts/flash" %>
            <div>
                <%= form.email_field :email_address, placeholder: "Enter your email address", maxlength: 30, size: 20 %>
            </div>
            <div>
                <%= form.text_field :username, placeholder: "Enter your username", maxlength: 30, size: 20 %>
            </div>
            <div>
                <%= form.password_field :password, placeholder: "Enter your password", maxlength: 30 %>
            </div>
            <div>
                <%= form.password_field :password_confirmation, placeholder: "Confirm your password", maxlength: 30 %>
            </div>
            <div>
                <%= form.submit %>
            </div>
        <% end %>
    </div>
</div>

