<%= render "rooms/sidebar" %>
<div id=<%= dom_id(room) %> class="chat_room">
    <header>
        <h1><%= room.name %></h1>
    </header>
    <%= render "messages/messages", room: room, messages: room.messages %>
    <%= render "messages/form", room: room, message: Message.new %>
</div>
